# Data Workflow Lab 1

Clean and summarize Project 3 data.

### Learning Objectives

* Practice text cleaning techniques
* Practice datatype conversion
* Practice filling in missing values with either 0 or the average in the column
* Practice categorical data techniques
* Transform data into usable quantities

In [375]:
% matplotlib inline
import datetime
import numpy as np
import pandas as pd

In [376]:
# Load the data
df = pd.read_csv("../../assets/Iowa_Liquor_sales_sample_10pct.csv")

In [377]:
df.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [378]:
df.count()

Date                     270955
Store Number             270955
City                     270955
Zip Code                 270955
County Number            269878
County                   269878
Category                 270887
Category Name            270323
Vendor Number            270955
Item Number              270955
Item Description         270955
Bottle Volume (ml)       270955
State Bottle Cost        270955
State Bottle Retail      270955
Bottles Sold             270955
Sale (Dollars)           270955
Volume Sold (Liters)     270955
Volume Sold (Gallons)    270955
dtype: int64

## Clean the data

Let's practice our data cleaning skills on the Project 3 dataset. If you don't remember how to do any of these tasks, look back at your work from the previous weeks or search the internet. There are many blog articles and Stack Overflow posts that cover these topics.

You'll want to complete at least the following tasks:
* Remove redundant columns
* Remove "$" prices from characters and convert values to floats.
* Convert dates to pandas datetime objects
* Convert category floats to integers
* Drop or fill in bad values

In [404]:
# Remove redundant columns
dfn = df.dropna()
dfn.drop(["Category","Category Name","Vendor Number","Item Number","Item Description", "Volume Sold (Gallons)"], axis=1, inplace=True)
# Rename columns
# Remove the spaces and () from headers replacing spaces with underscores
dfn.rename(columns = lambda head: head.replace(" ","_"), inplace=True)
dfn.rename(columns = lambda head: head.replace("(",""), inplace=True)
dfn.rename(columns = lambda head: head.replace(")",""), inplace=True)

dfn.head()

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Date,Store_Number,City,Zip_Code,County_Number,County,Bottle_Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Bottles_Sold,Sale_Dollars,Volume_Sold_Liters
3827,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,750,$10.49,$15.74,12,$188.88,9.0
20650,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1000,$12.59,$18.89,12,$226.68,12.0
21877,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1000,$6.66,$9.99,2,$19.98,2.0
57547,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1000,$11.75,$17.63,120,$2115.60,120.0
60439,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,750,$11.49,$17.24,36,$620.64,27.0

In [405]:
# Remove $ from certain columns
# strip method to remove $
dfn["Sale_Dollars"] = [ x.strip("$") for x in dfn["Sale_Dollars"]]
# change values to float
dfn["Sale_Dollars"] = [float(x) for x in dfn["Sale_Dollars"]]
dfn["State_Bottle_Cost"] = [ x.strip("$") for x in dfn["State_Bottle_Cost"] ]
dfn["State_Bottle_Cost"] = [float(x) for x in dfn["State_Bottle_Cost"]]
dfn["State_Bottle_Retail"] = [ x.strip("$") for x in dfn["State_Bottle_Retail"] ]
dfn["State_Bottle_Retail"] = [float(x) for x in dfn["State_Bottle_Retail"]]
dfn.head()

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,Store_Number,City,Zip_Code,County_Number,County,Bottle_Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Bottles_Sold,Sale_Dollars,Volume_Sold_Liters
3827,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,750,10.49,15.74,12,188.88,9.0
20650,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1000,12.59,18.89,12,226.68,12.0
21877,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1000,6.66,9.99,2,19.98,2.0
57547,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1000,11.75,17.63,120,2115.60,120.0
60439,01/07/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,750,11.49,17.24,36,620.64,27.0

In [408]:
# Convert dates
dfn["Date"] = pd.to_datetime(dfn["Date"])
dfn.dtypes

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

Date                   datetime64[ns]
Store_Number                    int64
City                           object
Zip_Code                       object
County_Number                   int64
County                         object
Bottle_Volume_ml                int64
State_Bottle_Cost             float64
State_Bottle_Retail           float64
Bottles_Sold                    int64
Sale_Dollars                  float64
Volume_Sold_Liters            float64
dtype: object

In [422]:
# Drop or replace bad values
# Convert integers
dfn["County_Number"] = [int(cnum) for cnum in dfn["County_Number"]]
# Convert from integers
dfn["Store_Number"] = [str(store) for store in dfn["Store_Number"]]

dfn.dtypes

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Date                   datetime64[ns]
Store_Number                   object
City                           object
Zip_Code                       object
County_Number                   int64
County                         object
Bottle_Volume_ml                int64
State_Bottle_Cost             float64
State_Bottle_Retail           float64
Bottles_Sold                    int64
Sale_Dollars                  float64
Volume_Sold_Liters            float64
Margin                        float64
Price_per_Liter               float64
dtype: object

In [423]:
dfn.head()

,Date,Store_Number,City,Zip_Code,County_Number,County,Bottle_Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Bottles_Sold,Sale_Dollars,Volume_Sold_Liters,Margin,Price_per_Liter
3827,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,750,10.49,15.74,12,188.88,9.0,5.25,20.986667
20650,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,12.59,18.89,12,226.68,12.0,6.30,18.890000
21877,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,6.66,9.99,2,19.98,2.0,3.33,9.990000
57547,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,11.75,17.63,120,2115.60,120.0,5.88,17.630000
60439,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,750,11.49,17.24,36,620.64,27.0,5.75,22.986667

## Filter the Data

Some stores may have opened or closed in 2015. These data points will heavily skew our models, so we need to filter them out or find a way to deal with them.

You'll need to provide a summary in your project report about these data points. You may also consider using the monthly sales in your model and including other information (number of months or days each store is open) in your data to handle these unusual cases.

Let's record the first and last sales dates for each store. We'll save this information for later when we fit our models.

In [424]:
# Determine which stores were open all of 2015
# Find the first and last sales date.

#First Date 1/5/2015 dfn.sort_values(by="Date").head()

#Last Date 3/31/2016 dfn.sort_values(by="Date").tail()

# Filter out stores that opened or closed throughout the year
# removed during drop.na from dataframe
dfn.isnull().sum()

# You may want to save this step until you start modelling

Date                   0
Store_Number           0
City                   0
Zip_Code               0
County_Number          0
County                 0
Bottle_Volume_ml       0
State_Bottle_Cost      0
State_Bottle_Retail    0
Bottles_Sold           0
Sale_Dollars           0
Volume_Sold_Liters     0
Margin                 0
Price_per_Liter        0
dtype: int64

## Compute New Columns and Tables

Since we're trying to predict sales and/or profits, we'll want to compute some intermediate data. There are a lot of ways to do thisand good use of pandas is crucial. For example, for each transaction we may want to know:
* margin, retail cost minus bottle cost
* price per bottle
* price per liter

We'll need to make a new dataframe that indexes quantities by store:
* sales per store for all of 2015
* sales per store for Q1 2015
* sales per store for Q1 2016
* total volumes sold
* mean transaction revenue, gross margin, price per bottle, price per liter, etc.
* average sales per day
* number of days open

Make sure to retain other variables that we'll want to use to build our models, such as zip code, county number, city, etc. We recommend that you spend some time thinking about the model you may want to fit and computing enough of the suggested quantities to give you a few options.

Bonus tasks:
* Restrict your attention to stores that were open for all of 2015 and Q1 2016. Stores that opened or closed in 2015 will introduce outliers into your data.
* For each transaction we have the item category. You may be able to determine the store type (primarily wine, liquor, all types of alcohol, etc.) by the most common transaction category for each store. This could be a useful categorical variable for modelling.

In [425]:
# Margin and Price per liter
# Margin
dfn["Margin"] = dfn["State_Bottle_Retail"] - dfn["State_Bottle_Cost"]
# Price per Liter  
dfn["Price_per_Liter"] = dfn["State_Bottle_Retail"]/(dfn["Bottle_Volume_ml"]/1000)
dfn

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,Store_Number,City,Zip_Code,County_Number,County,Bottle_Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Bottles_Sold,Sale_Dollars,Volume_Sold_Liters,Margin,Price_per_Liter
3827,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,750,10.49,15.74,12,188.88,9.0,5.25,20.986667
20650,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,12.59,18.89,12,226.68,12.0,6.30,18.890000
21877,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,6.66,9.99,2,19.98,2.0,3.33,9.990000
57547,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,11.75,17.63,120,2115.60,120.0,5.88,17.630000
60439,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,750,11.49,17.24,36,620.64,27.0,5.75,22.986667
63210,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,12.50,18.75,24,450.00,24.0,6.25,18.750000
72058,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,750,3.42,5.13,12,61.56,9.0,1.71,6.840000
74776,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,6.63,9.95,24,238.80,24.0,3.32,9.950000
86315,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,4.00,6.00,12,72.00,12.0,2.00,6.000000
116611,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,1000,9.25,13.88,12,166.56,12.0,4.63,13.880000
234845,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,750,14.17,21.26,6,127.56,4.5,7.09,28.346667
238163,2016-01-07,2106,CEDAR FALLS,50613,7,Black Hawk,750,11.49,17.24,24,413.76,18.0,5.75,22.986667
22111,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,9.50,14.25,36,513.00,36.0,4.75,14.250000
47659,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,750,27.00,40.50,12,486.00,9.0,13.50,54.000000
65214,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,750,5.78,8.67,12,104.04,9.0,2.89,11.560000
66346,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,750,12.50,18.75,12,225.00,9.0,6.25,25.000000
80570,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,4.34,6.51,12,78.12,12.0,2.17,6.510000
105659,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,750,7.86,11.79,12,141.48,9.0,3.93,15.720000
110707,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,750,10.00,15.00,12,180.00,9.0,5.00,20.000000
130957,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,7.62,11.43,12,137.16,12.0,3.81,11.430000
144321,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,18.50,27.75,36,999.00,36.0,9.25,27.750000
165212,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,4.05,6.08,12,72.96,12.0,2.03,6.080000
175048,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,15.54,23.31,72,1678.32,72.0,7.77,23.310000
193161,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,750,15.00,22.50,12,270.00,9.0,7.50,30.000000
223428,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,3.92,5.88,12,70.56,12.0,1.96,5.880000
238277,2015-01-08,2106,CEDAR FALLS,50613,7,Black Hawk,1000,7.50,11.25,12,135.00,12.0,3.75,11.250000
1410,2016-01-14,2106,CEDAR FALLS,50613,7,Black Hawk,750,7.88,11.82,12,141.84,9.0,3.94,15.760000
23942,2016-01-14,2106,CEDAR FALLS,50613,7,Black Hawk,1000,4.05,6.08,24,145.92,24.0,2.03,6.080000
38558,2016-01-14,2106,CEDAR FALLS,50613,7,Black Hawk,1000,4.32,6.48,12,77.76,12.0,2.16,6.480000
75733,2016-01-14,2106,CEDAR FALLS,50613,7,Black Hawk,1750,9.30,14.45,6,86.70,10.5,5.15,8.257143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6337,2015-12-10,9002,LECLAIRE,52753,82,Scott,750,10.17,15.26,6,91.56,4.5,5.09,20.346667
2850,2015-12-17,9002,LECLAIRE,52753,82,Scott,375,9.09,13.64,12,163.68,4.5,4.55,36.373333
77752,2015-12-23,9002,LECLAIRE,52753,82,Scott,375,9.09,13.64,72,982.08,27.0,4.55,36.373333
250032,2015-12-23,9002,LECLAIRE,52753,82,Scott,375,9.09,13.64,84,1145.76,31.5,4.55,36.373333
121947,2015-12-31,9002,LECLAIRE,52753,82,Scott,750,10.17,15.26,408,6226.08,306.0,5.09,20.346667
16295,2015-01-20,9010,NORWALK,50211,91,Warren,750,13.29,19.94,24,478.56,18.0,6.65,26.586667
267581,2015-01-20,9010,NORWALK,50211,91,Warren,750,15.59,23.39,24,561.36,18.0,7.80,31.186667
28640,2016-02-01,9010,NORWALK,50211,91,Warren,750,9.86,14.79,12,177.48,9.0,4.93,19.720000
127223,2015-02-09,9010,NORWALK,50211,91,Warren,750,13.87,20.81,24,499.44,18.0,6.94,27.746667
135891,2015-02-09,9010,NORWALK,50211,91,Warren,750,13.29,19.94,24,478.56,18.0,6.65,26.586667
178774,2015-02-09,9010,NORWALK,50211,91,Warren,375,8.45,12.68,24,304.32,9.0,4.23,33.813333
244748,2015-02-09,9010,NORWALK,50211,91,Warren,750,13.29,19.94,24,478.56,18.0,6.65,26.586667
137593,2015-03-31,9010,NORWALK,50211,91,Warren,750,15.59,23.39,24,561.36,18.0,7.80,31.186667
209820,2015-03-31,9010,NORWALK,50211,91,Warren,750,13.87,20.81,24,499.44,18.0,6.94,27.746667
269367,2015-04-13,9010,NORWALK,50211,91,Warren,750,9.86,14.79,24,354.96,18.0,4.93,19.720000
172628,2015-04-23,9010,NORWALK,50211,91,Warren,750,15.59,23.39,12,280.68,9.0,7.80,31.186667
141678,2015-05-20,9010,NORWALK,50211,91,Warren,750,13.29,19.94,12,239.28,9.0,6.65,26.586667
128323,2015-06-16,9010,NORWALK,50211,91,Warren,750,15.59,23.39,12,280.68,9.0,7.80,31.186667
91949,2015-08-06,9010,NORWALK,50211,91,Warren,750,9.86,14.79,12,177.48,9.0,4.93,19.720000
181268,2015-08-06,9010,NORWALK,50211,91,Warren,200,3.00,4.50,48,216.00,9.6,1.50,22.500000
49892,2015-09-17,9010,NORWALK,50211,91,Warren,200,3.00,4.50,24,108.00,4.8,1.50,22.500000
71007,2015-09-17,9010,NORWALK,50211,91,Warren,750,13.29,19.94,12,239.28,9.0,6.65,26.586667
89110,2016-01-20,9013,Cumming,50061,91,Warren,1000,7.18,10.77,12,129.24,12.0,3.59,10.770000
236012,2016-03-09,9013,Cumming,50061,91,Warren,750,6.45,9.68,24,232.32,18.0,3.23,12.906667
105091,2015-06-04,9013,Cumming,50061,91,Warren,750,12.54,18.81,36,677.16,27.0,6.27,25.080000
42383,2015-08-04,9013,Cumming,50061,91,Warren,750,9.17,13.76,12,165.12,9.0,4.59,18.346667
28118,2015-11-19,9013,Cumming,50061,91,Warren,750,3.09,4.64,120,556.80,90.0,1.55,6.186667
100716,2015-12-01,9013,Cumming,50061,91,Warren,750,9.09,13.64,60,818.40,45.0,4.55,18.186667
139261,2015-10-27,9018,Dubuque,52001,31,Dubuque,750,14.30,21.45,300,6435.00,225.0,7.15,28.600000
107866,2016-03-08,9023,Carroll,51401,14,Carroll,750,17.59,26.39,24,633.36,18.0,8.80,35.186667

In [426]:
dfn.dtypes

Date                   datetime64[ns]
Store_Number                   object
City                           object
Zip_Code                       object
County_Number                   int64
County                         object
Bottle_Volume_ml                int64
State_Bottle_Cost             float64
State_Bottle_Retail           float64
Bottles_Sold                    int64
Sale_Dollars                  float64
Volume_Sold_Liters            float64
Margin                        float64
Price_per_Liter               float64
dtype: object

In [441]:
# Sales per store, 2015

# Filter by our start and end dates
dfn.sort_values(by=["Store_Number", "Date"], inplace=True)
start_date = pd.Timestamp("2015-01-01")
end_date = pd.Timestamp("2015-12-31")
mask = (dfn['Date'] >= start_date) & (dfn['Date'] <= end_date)
sales2015 = dfn[mask]

# Group by store name
sales2015 = sales2015.groupby(by=["Store_Number"], as_index=False)
# Compute sums, means
sales2015 = sales2015.agg({"Sale_Dollars": [np.sum, np.mean],
                   "Volume_Sold_Liters": [np.sum, np.mean],
                   "Margin": np.mean,
                   "Price_per_Liter": np.mean,
                   "Zip_Code": lambda x: x.iloc[0], # just extract once, should be the same
                   "City": lambda x: x.iloc[0],
                   "County_Number": lambda x: x.iloc[0]})
# Collapse the column indices
sales2015.columns = [' '.join(col).strip() for col in sales2015.columns.values]
# Rename columns
# Need to reorder too
#sales2015.columns =["Store_Number","City","Zip_Code","County_Number","Sale_Dollars","Sale_Dollars mean ]

# Quick check
sales2015.head()

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Store_Number,City <lambda>,Sale_Dollars sum,Sale_Dollars mean,County_Number <lambda>,Volume_Sold_Liters sum,Volume_Sold_Liters mean,Price_per_Liter mean,Margin mean,Zip_Code <lambda>
0,2106,CEDAR FALLS,146038.70,277.640114,7,9719.85,18.478802,17.844997,5.160951,50613
1,2113,GOWRIE,9310.22,63.334830,94,659.85,4.488776,18.504292,5.445102,50543
2,2130,WATERLOO,111583.91,285.380844,7,6879.37,17.594297,16.817449,4.918005,50703
3,2152,ROCKWELL,7721.08,54.759433,17,633.37,4.491986,13.020983,4.322624,50469
4,2178,WAUKON,24324.18,102.633671,3,1917.12,8.089114,16.062136,4.868861,52172

In [433]:
# Q1 sales, may want to also use aggregate as above to have more columns (means, etc.)

# Sales 2015  Q1
# Filter by our start and end dates
dfn.sort_values(by=["Store_Number", "Date"], inplace=True)
start_date = pd.Timestamp("2015-01-01")
end_date = pd.Timestamp("2015-03-31")
mask = (dfn['Date'] >= start_date) & (dfn['Date'] <= end_date)
sales2015Q1 = dfn[mask]

# Group by store name
sales2015Q1 = sales2015Q1.groupby(by=["Store_Number"], as_index=False)
# Compute sums, means
sales2015Q1 = sales2015Q1.agg({"Sale_Dollars": [np.sum, np.mean],
                   "Volume_Sold_Liters": [np.sum, np.mean],
                   "Margin": np.mean,
                   "Price_per_Liter": np.mean,
                   "Zip_Code": lambda x: x.iloc[0], # just extract once, should be the same
                   "City": lambda x: x.iloc[0],
                   "County_Number": lambda x: x.iloc[0]})
# Collapse the column indices
sales2015Q1.columns = [' '.join(col).strip() for col in sales2015Q1.columns.values]
# Rename columns
# Need to reorder too

# Quick check
sales2015Q1.head()

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Store_Number,City <lambda>,Sale_Dollars sum,Sale_Dollars mean,County_Number <lambda>,Volume_Sold_Liters sum,Volume_Sold_Liters mean,Price_per_Liter mean,Margin mean,Zip_Code <lambda>
0,2106,CEDAR FALLS,39287.29,304.552636,7,2526.10,19.582171,17.846608,5.033721,50613
1,2113,GOWRIE,2833.25,67.458333,94,177.11,4.216905,19.358141,5.275000,50543
2,2130,WATERLOO,24272.57,278.995057,7,1447.25,16.635057,17.565430,5.140920,50703
3,2152,ROCKWELL,2003.46,62.608125,17,151.74,4.741875,13.991012,4.836875,50469
4,2178,WAUKON,5856.41,122.008542,3,409.81,8.537708,16.724712,4.932083,52172

In [434]:
# Sales 2016 Q1
# Filter by our start and end dates
dfn.sort_values(by=["Store_Number", "Date"], inplace=True)
start_date = pd.Timestamp("2016-01-01")
end_date = pd.Timestamp("2016-03-31")
mask = (dfn['Date'] >= start_date) & (dfn['Date'] <= end_date)
sales2016Q1 = dfn[mask]

# Group by store name
sales2016Q1 = sales2016Q1.groupby(by=["Store_Number"], as_index=False)
# Compute sums, means
sales2016Q1 = sales2016Q1.agg({"Sale_Dollars": [np.sum, np.mean],
                   "Volume_Sold_Liters": [np.sum, np.mean],
                   "Margin": np.mean,
                   "Price_per_Liter": np.mean,
                   "Zip_Code": lambda x: x.iloc[0], # just extract once, should be the same
                   "City": lambda x: x.iloc[0],
                   "County_Number": lambda x: x.iloc[0]})
# Collapse the column indices
sales2016Q1.columns = [' '.join(col).strip() for col in sales2016Q1.columns.values]
# Rename columns

# Quick check
sales2016Q1.head()

/Users/macuser/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Store_Number,City <lambda>,Sale_Dollars sum,Sale_Dollars mean,County_Number <lambda>,Volume_Sold_Liters sum,Volume_Sold_Liters mean,Price_per_Liter mean,Margin mean,Zip_Code <lambda>
0,2106,CEDAR FALLS,30478.75,241.894841,7,2116.25,16.795635,17.969769,5.196508,50613
1,2113,GOWRIE,2065.90,55.835135,94,177.00,4.783784,17.483024,5.367838,50543
2,2130,WATERLOO,27856.11,238.086410,7,1556.90,13.306838,17.452157,5.312222,50703
3,2152,ROCKWELL,904.66,45.233000,17,87.50,4.375000,12.487833,4.160500,50469
4,2178,WAUKON,5588.50,96.353448,3,520.80,8.979310,15.101929,4.648966,52172

Proceed with any calculations that you need for your models, such as grouping
sales by zip code, most common vendor number per store, etc. Once you have finished adding columns, be sure to save the dataframe.

In [ ]:
# Compute more things
# ...

In [ ]:
# Save this dataframe

# Let's add the dates computed above to this data.
sales["First Date"] = dates['Date amin']
sales["Last Date"] = dates['Date amax']

sales.to_csv("sales.csv")